[user]
	name = 211217613
	email = rubenavazquez@gmail.com
[core]
	editor = vim
	excludesfile = /home/user/.gitignore
	fileMode = true

[credential]
	helper = cache --timeout=36000
[diff]
	guitool = meld
[color]
	ui = auto
