[Desktop Entry]
Version=1.0
Name=Chromium Web Browser
Comment=Access the Internet
Exec=chromium-browser %U --force-device-scale-factor=1.2
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Actions=NewWindow;Incognito;TempProfile;
X-AppInstall-Package=chromium-browser

X-Desktop-File-Install-Version=0.22

[Desktop Action NewWindow]
Name=Open a New Window
Exec=chromium-browser %U --force-device-scale-factor=1.2

[Desktop Action Incognito]
Name=Open a New Window in incognito mode
Exec=chromium-browser --incognito --force-device-scale-factor=1.2

[Desktop Action TempProfile]
Name=Open a New Window with a temporary profile
Exec=chromium-browser --temp-profile
